# ==========================================
# CONFIGURATION DU SERVEUR
# ==========================================
PORT=4000
NODE_ENV=development

# ==========================================
# BASE DE DONNÉES (PostgreSQL)
# ==========================================
POSTGRES_USER=festival_app
POSTGRES_PASSWORD=festival_app
POSTGRES_DB=festival_app




DATABASE_URL=postgresql://festival_app:festival_app@localhost:5432/festival_app

# ==========================================
# SÉCURITÉ & JWT
# ==========================================
# Générez une clé aléatoire ici pour le développement
JWT_SECRET=secret_temporaire_pour_le_developpement_local
JWT_EXPIRATION=15m
REFRESH_EXPIRATION=7d

# ==========================================
# FRONTEND (CORS)
# ==========================================
# L'URL où tourne votre Frontend Angular
FRONTEND_URL=http://localhost:8080